html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  display: grid;
  grid-template-areas: "banner";
}

.banner-image {
  grid-area: banner;
}

.text {
  grid-area: banner;
  align-self: end;
  color: #fff;
  padding: 1rem 1rem 1.5rem;
}

.text p:first-child {
  font-size: 1.4rem;
  margin-bottom: .15rem;

  font-style: italic;
}

p {
  margin: 0;
}
