html {
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  display: grid;
  grid-template-areas: banner;
}

.banner-image {
  grid-area: banner;
}

.text {
  grid-area: banner;
  align-self: end;
  color: #fff;
  padding: 1rem 1rem 1.5rem;
}

.text p:first-child {
  font-size: 1.4rem;
  margin-bottom: .15rem;
  font-style: italic;
}

p {
  margin: 0;
}

img {
  width: 100%;
}

main {
margin-top: .75rem;
  display: grid;
  gap: 75rem;
  grid-template-columns: 1fr 1fr 1fr;
}

figure {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: normal;
  font-style: italic;
  margin: 1.6rem 0;
  font-size: 1.73rem;
  padding-left: 1rem;
}

figcaption {
  padding: .5rem;
}

h2 {
  margin: 0;
  font-style: italic;
  font-weight: normal;
}

dl {
  margin: .4rem 0 .15;
}
